* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  width: 100%;
  margin: auto;
}

aside {
  width: 25%;
  height: auto;
  background-color: #1F1F3D;

}

h1 {
  color: #FFF;
  margin: 5%;
  margin-bottom: 8%;
}

h3 {
  margin-left: 5%;
  color: #BFBFDD;
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  cursor: pointer;
}

.starred {
  width: 90%;
  height: 44px;
  border-radius: 2%;
  background-color: #535684;
  border: 2px solid #353567;
  font-size: 120%;
  color: #E9E9F3;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%;

}

.sidebar {
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
}

.top-section {
  background-color: #A9AAD2;
}

main {
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

label {
  display: block;
}

.label-style {
  width: 47%;
}

.title-input,
.body-input {
  height: 44px;
  width: 100%;
  border: 2px solid #5356A4;
  border-radius: 2px;
}

.body-input {
  height: 120px;
}

.save-button {
  background-color: #353567;
  border: 2px solid #5356A4;
  height: 44px;
  width: 47%;
  color: #FFF;
  font-size: 120%;
  margin-top: 4%;
}

label {
  font-weight: bold;
  font-size: 110%;
  color: #1F1F3D;
  margin-bottom: 2%;
  margin-top: 5%;
}

.search-continer {
  width: 47%;
  border: 1px solid #353567;
  display: inline-flex;
  margin-top: 3%;
  margin-bottom: 3%;
}

.search-button {
  background-color: #353567;
  border: 1px solid #353567;
  height: 100%;
  width: 10%;
}

.search-icon {
  margin: 15%;
}

.search-input {
  font-size: 120%;
  width: 90%;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  border: 2px solid #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}

header,
footer{
  background-color: #1F1F3D;
  display: flex;
  height: 25px;
  justify-content: space-between;
  width: 100%;
}

.card-icon {
  background-color: #1F1F3D;
  height: 13px;
  width: 13px;
}

.card-button {
  background-color: #1F1F3D;
  border: none;
  color: #FFF;
}
